<%- include('../includes/header.ejs') %>

</head>
<body>

<form 
    action="/products/<% if (editing) { %><%= product.id %>/update<% } else { %>add/<% } %>"
    method="post">
        <input name="name" placeholder="Name" value="<%= product.name %>">
        <input type="hidden" name="userId" value="<%= product.userId %>">
        <button>Salvar</button>
    </form>

<%- include('../includes/footer.ejs') %>